<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>advancedNavigation</name>
    <displayName><![CDATA[Advanced Navigation]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This override-module allows you to remove URL ID&#039;s.]]></description>
    <author><![CDATA[Boyan Naydenov]]></author>
    <tab><![CDATA[seo]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall &quot;Advanced Navigation Module&quot; module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>